<!doctype html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>gpustat-web</title>
    <style>
        body { overflow-x: scroll; }
        nav.header { font-family: monospace; margin-bottom: 10px; }
        nav.header a, nav.header a:visited { color: #329af0; text-decoration: none; }
        nav.header a:hover { color: #a3daff; }

        #gpustat { line-height: 0.95; }
        pre.ansi2html-content {display:block; white-space: pre; word-wrap: normal; }  /* no line break */
    </style>

    {{ ansi2html_headers | safe }}
  </head>

  <body  style="font-size: normal;" >

    <nav class="header">
      <a href="https://github.com/wookayin/gpustat-web" target="_blank">gpustat-web</a>
        by <a href="https://github.com/wookayin" target="_blank">@wookayin</a>
      <a href="javascript:clearTimeout(window.timer);" style="margin-left: 20px; color: #666666;"
         onclick="this.style.display='none';">[turn off auto-refresh]</a>
    </nav>

    <div id="gpustat" class="col-md-12">
   </div>

  </body>

  <script>
        var ws = new WebSocket("ws://{{http_host}}/ws");
        ws.onopen = function(e) {
          console.log('Websocket connection established', ws);
          ws.send('gpustat');
        };
        ws.onerror = function(error) {
          console.log("onerror", error);
        };
        ws.onmessage = function(e) {
          var msg = e.data;
          //console.log('Received data, length = ' + msg.length + ', ' + new Date().toString());
          document.getElementById('gpustat').innerHTML = msg;
        };
        window.onbeforeunload = function() {
          ws.close();  // close websocket client on exit
        };
        window.timer = setInterval( function() { ws.send('gpustat'); }, {{ interval }});
  </script>
</html>
